.container{
    display: flex;
    
    justify-content:space-evenly    ;
    
}
body{
    background: #00c3ff;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #ffff1c, #00c3ff);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #ffff1c, #00c3ff); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}
.container div{
    border:blue;
    text-align: center;
    border: 5px solid black;
    background: #ecf0f1;
}
.container div:hover{
    border: solid 10px black;
    font-size: 30px;
    color: black;
    transform: scale(1.1);
}
img{
     height: 400px;
    width: 600px;
}
a{
    color:green;    
    text-decoration:none ;
    font-size: 20px;
    
}